//左侧边栏背景
$background_color_sidebar_theme1: white;
$background_color_sidebar_theme2: white;
$background_color_sidebar_theme3: white;
$background_color_sidebar_theme4: white;
$background_color_sidebar_theme5: white;
$background_color_sidebar_theme6: white;
$background_color_sidebar_theme7: white;

//左侧边栏logo背景
$background_color_sidebar_logo_theme1: #008df7;
$background_color_sidebar_logo_theme2: #f38240;
$background_color_sidebar_logo_theme3: #91b198;
$background_color_sidebar_logo_theme4: #ff7f9d;
$background_color_sidebar_logo_theme5: #c65278;
$background_color_sidebar_logo_theme6: #6BC3E1;
$background_color_sidebar_logo_theme7: #24262f;

//左侧边栏菜单hover背景
$background_color_sidebar_hover_theme1: #0270c1;
$background_color_sidebar_hover_theme2: #df6e2c;
$background_color_sidebar_hover_theme3: #697d6d;
$background_color_sidebar_hover_theme4: #f46f8e;
$background_color_sidebar_hover_theme5: #943b58;
$background_color_sidebar_hover_theme6: #4E9EC5;
$background_color_sidebar_hover_theme7: #3e464c;

//顶部信息tag
$topTag_theme1: #0267b2;
$topTag_theme2: #ce6529;
$topTag_theme3: #617364;
$topTag_theme4: #e16683;
$topTag_theme5: #883651;
$topTag_theme6: #4691B5;
$topTag_theme7: #3e464c;

//左侧边栏末级菜单背景
$background_color_sidebar_last_theme1: white;
$background_color_sidebar_last_theme2: white;
$background_color_sidebar_last_theme3: white;
$background_color_sidebar_last_theme4: white;
$background_color_sidebar_last_theme5: white;
$background_color_sidebar_last_theme6: white;
$background_color_sidebar_last_theme7: white;

//左侧边栏菜单字体颜色
$background_color_sidebar_span_i_theme1: #7494a9;
$background_color_sidebar_span_i_theme2: #7c665a;
$background_color_sidebar_span_i_theme3: #96a49b;
$background_color_sidebar_span_i_theme4: #d3a4af;
$background_color_sidebar_span_i_theme5: #b79da6;
$background_color_sidebar_span_i_theme6: #4E9EC5;
$background_color_sidebar_span_i_theme7: #3e464c;

//顶部菜单栏背景
$top_theme1: #0270c1;
$top_theme2: #df6e2c;
$top_theme3: #697d6d;
$top_theme4: #f46f8e;
$top_theme5: #943b58;
$top_theme6: #4E9EC5;
$top_theme7: #3e464c;

//顶部菜单栏图标
$iconColor_theme1: white;
$iconColor_theme2: white;
$iconColor_theme3: white;
$iconColor_theme4: white;
$iconColor_theme5: white;
$iconColor_theme6: white;
$iconColor_theme7: white;

//表格表头背景
$elTableHead_theme1: #0270c1;
$elTableHead_theme2: #df6e2c;
$elTableHead_theme3: #697d6d;
$elTableHead_theme4: #f46f8e;
$elTableHead_theme5: #943b58;
$elTableHead_theme6: #4E9EC5;
$elTableHead_theme7: #0270c1;

//弹窗标题栏背景
$elDialogHeader_theme1: #0270c1;
$elDialogHeader_theme2: #df6e2c;
$elDialogHeader_theme3: #697d6d;
$elDialogHeader_theme4: #f46f8e;
$elDialogHeader_theme5: #943b58;
$elDialogHeader_theme6: #4E9EC5;
$elDialogHeader_theme7: #3e464c;

//选中的面包屑背景
$tagItemActive_theme1: #0267b2;
$tagItemActive_theme2: #ce6529;
$tagItemActive_theme3: #617364;
$tagItemActive_theme4: #e16683;
$tagItemActive_theme5: #883651;
$tagItemActive_theme6: #4E9EC5;
$tagItemActive_theme7: #3e464c;

//导航操作按钮背景
$tagsMenuButton_theme1: #0267b2;
$tagsMenuButton_theme2: #ce6529;
$tagsMenuButton_theme3: #617364;
$tagsMenuButton_theme4: #e16683;
$tagsMenuButton_theme5: #883651;
$tagsMenuButton_theme6: #4E9EC5;
$tagsMenuButton_theme7: #3e464c;

//人员配置部门列表颜色
$myCardTreeTitle_theme1: #0270c1;
$myCardTreeTitle_theme2: #df6e2c;
$myCardTreeTitle_theme3: #697d6d;
$myCardTreeTitle_theme4: #f46f8e;
$myCardTreeTitle_theme5: #943b58;
$myCardTreeTitle_theme6: #4E9EC5;
$myCardTreeTitle_theme7: #3e464c;

//导航栏线背景
$tagsBoxLine_theme1: #0270c1;
$tagsBoxLine_theme2: #df6e2c;
$tagsBoxLine_theme3: #697d6d;
$tagsBoxLine_theme4: #f46f8e;
$tagsBoxLine_theme5: #943b58;
$tagsBoxLine_theme6: #4E9EC5;
$tagsBoxLine_theme7: #3e464c;

